.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  box-shadow: inset 0 -1px 0 hsl(0 100% 100% / 0.2);
  z-index: 10;

  @media only screen and (min-width: 48em) {
    flex-direction: column;
    gap: 0.75rem;
    padding-block: 2rem 0;
  }

  @media only screen and (min-width: 64em) {
    flex-direction: row;
    padding: 0 2rem;
  }

  // Title

  &__title {
    font-family: var(--ff-serif);
    font-weight: 500;
    font-size: 1.75rem;
    color: var(--white);
  }

  // Nav Container

  &__nav {
    display: flex;

    @media only screen and (max-width: 47.9375em) {
      // Animations
      display: none;

      &-enter {
        display: flex;
        opacity: 0;
      }
      &-enter-active {
        opacity: 1;
        transition: all 250ms ease-in-out;
      }
      &-enter-done {
        display: flex;
      }
      &-exit-done {
        display: none;
      }

      position: absolute;
      flex-direction: column;
      top: 100%;
      left: 0;
      width: 100%;
      padding: 1.5rem;
      background-color: var(--pale-blue-800);
      height: calc(100vh - 4rem);
      overflow: scroll;
    }

    @media only screen and (min-width: 48em) {
      gap: 2rem;
    }
  }

  // Nav Item

  &__nav-item {
    position: relative;
    font-weight: 500;
    letter-spacing: 0.125em;
    color: var(--gray-400);

    @media only screen and (max-width: 47.9375em) {
      display: flex;
      gap: 1.5625rem;
      align-items: center;
      background-image: url("/assets/icon-chevron.svg");
      background-repeat: no-repeat;
      background-position: right 0.5rem center;
      color: var(--white);
      padding-block: 1.25rem;

      &:not(:last-child) {
        border-bottom: 1px solid hsl(0 100% 100% / 0.1);
      }

      &::before {
        content: "";
        display: block;
        width: 1.25rem;
        aspect-ratio: 1;
        border-radius: 100vw;
        background-color: var(--accent);
      }
    }

    @media only screen and (min-width: 48em) {
      font-size: 0.875rem;
      padding-block: 2em;
    }

    @media only screen and (min-width: 64em) {
      padding-block: 2.25em;
      transition: color 150ms ease-in-out;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        height: 0.25rem;
        background-color: var(--color);
        transition: transform 150ms ease-in-out;
        transform-origin: top;
        transform: scaleY(0);
      }

      &:hover,
      &.active {
        color: var(--white);
      }

      &:hover::after,
      &.active::after {
        transform: scaleY(100%);
      }
    }
  }

  // Hamburger Menu

  &__hamburger {
    padding: 0.5rem 0.25rem;
    margin-right: -0.25rem;

    .is-open ~ & {
      filter: brightness(50%);
    }

    @media only screen and (min-width: 48em) {
      display: none;
    }
  }
}
