.stats {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  color: var(--gray-400);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.175em;

  @media only screen and (min-width: 48em) {
    flex-direction: row;
    align-items: flex-end;
    gap: 0.75rem;
  }

  .stat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid hsl(0 100% 100% / 0.2);
    padding: 0.625em 2em;

    &__value {
      font-family: var(--ff-serif);
      font-size: clamp(1.25rem, calc(0.38rem + 2.35vw), 2.5rem);
      color: var(--white);
      letter-spacing: 0;
    }

    @media only screen and (min-width: 48em) {
      flex-direction: column;
      align-items: start;
      flex: 1 0;
      gap: 0.5em;
      padding: 1.75em 1.5em;
    }
  }
}
